<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>753966342585-41o2ajoh741s0s9ouk79lpqfl42dg7cv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.753966342585-41o2ajoh741s0s9ouk79lpqfl42dg7cv</string>
	<key>API_KEY</key>
	<string>AIzaSyD7gp1dNRLS_xgiEd2pqdpCTXhP5zH3DS0</string>
	<key>GCM_SENDER_ID</key>
	<string>753966342585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.takumiobayashi.TechChan</string>
	<key>PROJECT_ID</key>
	<string>techchan-153c9</string>
	<key>STORAGE_BUCKET</key>
	<string>techchan-153c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753966342585:ios:0e60a2c11f4a523d905668</string>
	<key>DATABASE_URL</key>
	<string>https://techchan-153c9.firebaseio.com</string>
</dict>
</plist>